<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Dashboard</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../static/images (6).png">
<!-- <link rel="stylesheet" href=""> -->
<style type="text/css">
.navbar-brand {
	padding-left: 25px;
	border-radius: 5px;
}

body {
	background-image: url('../static/j.jpg');
	background-size: cover;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><img src="../static/images (6).png"
			width="30" height="30" style="border-radius: 5px;"
			class="d-inline-block align-top" alt="">&nbsp; C Taxi</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="Index.html">Home</a>

				<!-- <li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Cab </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="CabForm.html">Add Cab</a> <a
							class="dropdown-item" href="CabList.html">Cab List</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="getform" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Driver </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="DriverForm.html">Add Driver</a> <a
							class="dropdown-item" href="DriverList.html">Driver List</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="BestDriver.html">Best Drivers</a> -->
					<!-- </div></li> -->

				  <a class="nav-item nav-link" href="CabForm.html">Add Cab</a>
				<a class="nav-item nav-link" href="http://localhost:8081/cabs">Cab List</a>
				<a class="nav-item nav-link" href="DriverForm.html">Add Driver</a>
				<a class="nav-item nav-link" href="http://localhost:8081/custom">Customer List</a>
				<a class="nav-item nav-link" href="http://localhost:8081/driver">Driver List</a> 
				<a class="nav-item nav-link" href="http://localhost:8081/bestdriver">Best Drivers</a>
				 <a
					class="btn btn-danger" href="Index.html">Logout</a>
			</div>
		</div>
	</nav>

</body>
</html>

